header {
	display:block;
	text-align:center;
	margin:auto;
}

.squares {
	
	width: 40px;
    height: 40px;
    display:inline-block;
    margin: 0; 
    
}

.wrapper {
	
	height:520px;
	width:520px;
	display:block;
	margin:auto;
	margin-top:1%;
	text-align:center;
	font-size:0px;
	overflow:hidden;
}

		


.button {
	margin-left:10px;
	margin-right:10px;
	margin-top:5px;
}
